/Lab1/build/
/Lab2/nbproject/private/
/Lab2/build/
/Lab3/nbproject/private/
/Lab2/dist/
/Lab1/dist/
/Lab3/build/
/Lab3/dist/
/Lab4/nbproject/private/
/Lab5/nbproject/private/
/Lab4/build/
/Lab4/dist/
/Lab5/build/
/Lab6/nbproject/private/
/Lab6/build/
/Lab6.1/nbproject/private/
/Lab6.1/build/
/Lab7/First/nbproject/private/
/Lab7/First/build/
/Lab8(7)/First/nbproject/private/
/Lab8(7)/Second/nbproject/private/
/Lab8(7)/Second/build/
/Lab8(7)/Second/dist/